<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorite Books</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styling.css' %}">
</head>
<body>
    <header class="navbar navbar-primary bg-dark">
        <h2>Welcome, {{ request.session.first_name }}!</h2>
        <p class="link_container"><a href="/books/" class="navbar_link">Home</a></p>
        <p class="link_container"><a href="/logout/" class="navbar_link">Log out</a></p>
    </header>
    <main>
        <section  class="book_show">
            <h3>List of your liked books:</h3>
            <ul class="list-group">
                {% for book in liked_books %}
                <li class="list-group-item list-group-item-info">{{ book.title }}, <a href="/books/remove_favoraite/{{book.id}}">Un-Favoraite</a></li>
                {% endfor %}
            </ul>
            {% if user not in users_who_like %}
            <p><a href="/books/add_to_favorites/{{book.id}}/">Add to Favorites</a></p>
            {% endif %}
        </section>
    </main>
</body>
</html>